// ============
// = COMMENTS =
// ============
#comments { 
	margin:0px 10px 10px 0; 
	padding:0px 10px 10px 0; 
	
	h3 { margin:0 0 10px; }
	
	ol.commentlist { 
		margin:0; 
		padding:0; 
		overflow: hidden;
		li { background:#ececec;margin:0px 0 10px; padding:10px;}
	
	}

}

// ================
// = COMMENT FORM =
// ================
#commentbox { 
	width: 100%; 
	min-width: 400px; 
	margin: 5px 5px 0 0; 
}
#commentform { 
	margin:0px 10px 10px 0; 
	padding:0px 10px 10px 0; 

	#author, 
	#email, 
	#url, 
	textarea, 
	#submit { 
		border: solid 1px #ccc; 
		margin: 5px 5px 0 0; 
	}
}

