// =====================
// = MAIN CONTENT AREA =
// =====================

#posts { 
	margin-top: 1em; 
	min-height: 500px; 
	nav 		{ padding: 0px; font-size: .9em; overflow:hidden; }
	nav .previous 	{ float: left; }
	nav .next 	{ float: right; }
}

article.post {
	h2 a		{ color: #333; text-decoration: none; }
	h2 a:hover	{ color: #ccc; }
	p 		{ margin: 1.2em 1em 1.2em 0; }
	a 		{ text-decoration: underline; }
	img 		{ padding: 5px 8px; }
	ul 		{ list-style: square; padding: 2px 0; }
	li 		{ padding: 2px 0; }
	small 		{ font-size: .9em; }
}

/* styling for 'continued' page links */
p.continued { padding:5px; background:#f0f0f0; }
p.continued a { padding:5px; font-weight:bold; }

